@charset "UTF-8";

html, body{
    font-family: 'Open Sans', sans-serif;
}
div{
    height: 100%;

}
talbe{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    overflow-x:auto;
    border: solid;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color:#cfdfd2;
  }

tr{
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #b8d8c0;
  }
th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7c9483;
    color: white;
}
td{
    text-align: left;
    padding: 8px;
}
.header-receitas{
    height: 100%;
    border-collapse: collapse;
    width: 100%;
    background: #b8d8c0;
}
.navbar-receitas{
    overflow-x:auto;
    width: 100%;
    height: 100%;
    width: auto;
    background: #cfdfd2;
}
.imagem-logo{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 600px;
    height: auto;
    display: block;
    padding-top: 20px;
}
.ul-class{
    list-style-type: none;
    text-align: center;
}
.li-nav{
    display: inline;
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
}
.menu{
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 16px;

}
.img-div{
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    padding-bottom: 10px;
}

footer{
    margin-top: 10px;
    background: #b8d8c0;
    height: 200px;
    width: auto;
}

@media screen and (min-width: 1441px){
    .card-divs{
        
        margin: 0;
    }

    @media screen and (max-width: 600px) {
}